@define-color bg     #{{colors.surface.default.hex_stripped}};
@define-color fg     #{{colors.on_surface.default.hex_stripped}};
@define-color pink   #{{colors.primary.default.hex_stripped}};
@define-color muted  #{{colors.surface_variant.default.hex_stripped}};
