@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    transition: none;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    margin: 5px 5px 0 5px;
    border: 2px solid @muted;
}

#workspaces button {
    color: @muted;
    padding: 0 8px;
    background: transparent;
}

#workspaces button:hover {
    color: @pink;
    background-color: alpha(@pink, 0.1); 
}

#workspaces button.active {
    color: @pink;
    background-color: alpha(@pink, 0.05);
    border-bottom: 2px solid @pink;
}

#workspaces button.active:hover {
    color: @bg;
    background-color: @pink;
}

#workspaces button.urgent {
    color: @bg;
    background-color: @pink;
}

#window {
    color: @pink;
    font-style: italic;
    padding: 0 14px;
}

#idle_inhibitor, #pulseaudio, #backlight, #battery, #network, #clock, #tray, #cpu, #memory, #language, #submap, #power-profiles-daemon {
    padding: 0 12px;
    color: @fg;
}

#clock {
    font-weight: bold;
    color: @pink;
}

#tray {
    background-color: alpha(@pink, 0.05);
    padding: 0 10px;
}

tooltip {
    background-color: @bg;
    border: 2px solid @muted;
}

tooltip label {
    color: @fg;
}

menu {
    background: @bg;
    border: 2px solid @muted;
    padding: 4px;
}

menuitem {
    color: @fg;
    padding: 4px 12px;
}

menuitem:hover {
    background-color: @pink;
    color: @bg;
}

menu separator {
    background: none;
    background-color: transparent;
    min-height: 0px;
    margin: 0px;
}
